
  <button {{action previousPage}} disabled={{previousPageButtonIsDisabled}} aria-label="go to previous page">previous</button>
  <button {{action nextPage}} disabled={{nextPageButtonIsDisabled}} aria-label="go to next page">next</button>