<section class="pokemon-list">
  <h1>Pokemon route</h1>
  <p>Total Pokemon available: {{model.count}}</p>

  <p>List of available pokemon:</p>
  <ul>
    {{#each model.results as |result|}}
      <li>{{#link-to "pokemon.pokemon-details" (extract-id-from-url result.url)}}{{result.name}}{{/link-to}}</li>
    {{/each}}
  </ul>

  {{navigation-component
    previousPage=(action "previousPage")
    nextPage=(action "nextPage")
    offset=offset
    itemsPerPage=itemsPerPage
    count=model.count
  }}
</section>
{{outlet}}

